.possession-group
  .possession-group__title
    .possession-group__title__name= name
    .possession-group__title__count-circle
      .possession-group__title__count-circle__height-fix
      .possession-group__title__count-circle__number= possessions.count
  - possessions.each do |possession|
    = render 'components/possession_box', possession: possession
