.possessions-title
  Possessions (
  %span>= @possessions.count
  )

- @possessions.each do |possession|
  .possession-box
    .possession-box__name= possession.name
    = image_tag possession.image_url, class: 'possession-box__image' if possession.image_url.present?
    .possession-box__description
      = possession.description
      - if current_user
        = link_to '(Edit)', edit_possession_path(possession), class: 'possession-box__edit'

