.possessions-total
  Total:
  %span= Possession.count

- @categories.each do |category|
  %h1= category.name
  - category.possessions.each do |possession|
    = render 'components/possession_box', possession: possession

%h1 Others
- @uncategorized_possessions.each do |possession|
  = render 'components/possession_box', possession: possession
