$possession-box__image-width: 82px;

.possession-box {
  border: 1px solid black;
  border-bottom: 0;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  &:last-child {
    border-bottom: 1px solid black;
  }
}

.possession-box__image {
  width: $possession-box__image-width;
  height: $possession-box__image-width;
  float: left;
  border-right: 1px solid black;
  overflow: hidden;

  img, p {
    width: $possession-box__image-width;
    height: $possession-box__image-width;
  }
}

.possession-box__image--no-image {
  p {
    transform: rotate(-45deg);
    position: relative;
    left: 35%;
    top: 16%;
  }
}

.possession-box__content {
  float: right;
  width: calc(100% - #{$possession-box__image-width});
  padding-bottom: 0.5rem;
}

.possession-box__content__title {
  background: black;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.possession-box__content__details {
  width: 100%;
  padding-top: 0.25rem;
  padding-left: 0.25rem;
  overflow: hidden;
  float: left;
}

.possession-box__content__details__text {
  float: left;
  width: 80%;
}

.possession-box__content__details__date {
  width: 85px;
  border: 1px solid black;
  padding: 0.3rem;
  padding-bottom: 0;
  float: right;
  line-height: 1;
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
}

.possession-box__content__details__date__month {
  font-size: 0.8rem;
  text-align: right;
}

.possession-box__content__details__date__year {
  font-size: 1.8rem;
  text-align: right;
  display: block;
  margin-top: 0.1rem;
}

