$possession-column-gap: 2.5rem;
$responsive-turning-point: 900px;

.possession-column {
  width: 50%;
  overflow: hidden;
  float: left;

  @media only screen and (max-width: $responsive-turning-point) {
   width: 100%;
  }
}

.possession-column--left {
  padding-right: $possession-column-gap/2;
}

.possession-column--right {
  padding-left: $possession-column-gap/2;
  margin-top: 5rem;

  @media only screen and (max-width: $responsive-turning-point) {
    margin-top: 0;
  }
}
