$possession-column-gap: 1.5rem;

.possession-column {
  width: 50%;
  overflow: hidden;
  float: left;

  @media only screen and (max-width: 900px) {
   width: 100%;
  }
}

.possession-column--left {
  padding-right: $possession-column-gap/2;
}

.possession-column--right {
  padding-left: $possession-column-gap/2;
  margin-top: 5rem;
}
