$possession-column-gap: 1.5rem;

.possession-column {
  width: 50%;
  overflow: hidden;
  float: left;
}

.possession-column--left {
  padding-right: $possession-column-gap/2;
}

.possession-column--right {
  padding-left: $possession-column-gap/2;
  margin-top: 5rem;
}
