.title-bar {
  background: black;
  overflow: auto;

  a {
    color: white;
  }
}

.title-bar--unlogged-in {
  opacity: 0;

  a:hover {
    cursor: default;
  }
}

.title-bar__links {
  float: left;
  width: 20%;
}

a.title-bar__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0.4rem 0 0.3rem;
  float: left;
  width: 60%;
}