.title-bar {
  background: black;

  a {
    color: white;
  }
}

.title-bar--unlogged-in {
  opacity: 0;

  a:hover {
    cursor: default;
  }
}

a.title-bar__title {
  text-align: center;
  color: red;
}
