.title-bar {
  overflow: auto;
}

.title-bar__links__login-link {
  opacity: 0;
}

.title-bar--unlogged-in {
  cursor: default;
}

.title-bar__links {
  float: right;
  width: 20%;
}

a.title-bar__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
  margin: 0.4rem 0 0.3rem;
  float: right;
  width: 60%;
}