.possessions-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
}

.possession-box {
  text-align: center;
  margin: 0 auto;
}

.possession-box__name {
  font-size: 2rem;
  font-weight: 500;
}

.possession-box__description {
}

.possession-box__image {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.possession-box__edit {
  background: lightblue;
  display: inline-block;
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
}

