$possessions-width: 600px;
$possessions-vertical-margin: 2.5rem;

.possessions-title {
  text-align: center;
  background: black;
  color: white;
  font-size: 1.4rem;
}

.possessions-total {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.content-wrapper {
  width: 1000px;
  margin: 0 auto;
}
